<h1>Contactar con Planet Travel Site</h1>
<p>Enviemos un correo electrónico a:</p>
<p> <a href = "mailto:miguelrevolo@gmail.com"> miguelrevolo@gmail.com</a></p>
<p> o llámemos al telefono: 633 756 682 </p>
